# fly.toml app configuration file generated for nest-server-271nma on 2025-12-24T08:32:21Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'nest-server-271nma'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [[http_service.checks]]
    grace_period = "30s"
    interval = "15s"
    method = "GET"
    timeout = "10s"
    path = "/health"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
